<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | Txuritan</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" type="text/css"
          media="all">
    <link href="https://cdn.rawgit.com/Txuritan/txuritan.github.io/master/css/base.min.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
    {{ content }}
    <div class="grid">
        <div class="col col-3of3">
            <div class="panel">
                <div class="panel-header">
                    <h3>Other Wikis</h3>
                </div>
                <div class="panel-body">
                    <a href="/core/wiki/" class="button text-center">TXCore</a>
                    <a href="/metal/wiki/" class="button text-center">Metal</a>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
    <script src="https://cdn.rawgit.com/Txuritan/txuritan.github.io/master/js/base.js"></script>
</body>

</html>
