<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | Txuritan</title>
</head>

<body>
    {{ content }}
    <div class="grid">
        <div class="col col-3of3">
            <div class="panel">
                <div class="panel-header">
                    <h3>Other Wikis</h3>
                </div>
                <div class="panel-body">
                    <a href="/core/wiki/" class="button text-center">TXCore</a>
                    <a href="/metal/wiki/" class="button text-center">Metal</a>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}
    <link href="https://cdn.rawgit.com/Txuritan/txuritan.github.io/master/css/base.min.css" rel="stylesheet" type="text/css" media="none" onload="if(media!='all')media='all'">
    <noscript><link href="https://cdn.rawgit.com/Txuritan/txuritan.github.io/master/css/base.min.css" rel="stylesheet" type="text/css"></noscript>
    <script async src="https://cdn.rawgit.com/Txuritan/txuritan.github.io/master/js/base.js"></script>
    <script async src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>WebFont.load({google:{families: ['Source Code Pro:400,700']}});</script>
</body>

</html>
