body {
  background-color: #262626;
}
code {
  background-color: #262626;
  border: #C0392B dashed 1px;
}
.button {
  background-color: #E74C3C;
  color: #ECF0F1;
}
.button:hover {
  background-color: #C0392B;
}
.highlighter-rouge.language-java .highlight code span.kn {
  color: #E67E22;
}
.highlighter-rouge.language-java .highlight code span.n {
  color: #E74C3C;
}
.highlighter-rouge.language-java .highlight code span.na {
  color: #F0DEB4;
}
.highlighter-rouge.language-java .highlight code span.nn {
  color: #FFCD02;
}
.highlighter-rouge.language-java .highlight code span.nd {
  color: #9B59B6;
}
.highlighter-rouge.language-java .highlight code span.s {
  color: #2ECC71;
}
.highlighter-rouge.language-java .highlight code span.kd {
  color: #3498DB;
}
.highlighter-rouge.language-java .highlight code span.nc {
  color: #F47CC3;
}
.highlighter-rouge.language-java .highlight code span.k {
  color: #745EC5;
}
.highlighter-rouge.language-java .highlight code span.kt {
  color: #1ABC9C;
}
.highlighter-rouge.language-java .highlight code span.nf {
  color: #A5C63B;
}
.highlighter-rouge.language-groovy.n {
  color: #E74C3C;
}
.highlighter-rouge.language-groovy.s1,
.highlighter-rouge.language-groovy.s2 {
  color: #2ECC71;
}
.highlighter-rouge.language-groovy.nl {
  color: #1ABC9C;
}
.highlighter-rouge.language-groovy.mf {
  color: #3498DB;
}
.panel {
  background-color: #2B2B2B;
  border: #C0392B solid 5px;
}
.panel-header {
  border-bottom: #C0392B dashed 1px;
  color: #ECF0F1;
}
.panel-body {
  color: #ECF0F1;
}
.panel-footer {
  border-top: #C0392B dashed 1px;
  color: #ECF0F1;
}
