body {
  background-color: #ECF0F1;
}
code {
  background-color: #ECF0F1;
  border: #394C81 dashed 1px;
}
.button {
  background-color: #5065A1;
  color: #ECF0F1;
}
.button:hover {
  background-color: #394C81;
}
.panel {
  background-color: #ECF0F1;
  border: #394C81 solid 5px;
}
.panel-header {
  border-bottom: #394C81 dashed 1px;
  color: #2B2B2B;
}
.panel-body {
  color: #2B2B2B;
}
.panel-footer {
  border-top: #394C81 dashed 1px;
  color: #2B2B2B;
}
